@media screen and (max-width: 768px) {
    .nav-menu{
        text-align: center;
        width: 100%;
        height: 300px;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
    }
    
    .nav-menu.active{
        text-align: center;
        background: #00704A;
        left: 0;
        opacity: 1;
        z-index: 99;
    }
}