@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
};


@media screen and (max-width: 768px) {
  .overlay{
    @apply w-full h-full block;
      background-color: black;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0.7;
  }

  .img-main{
    width: 300px;
    height: 300px;
  }

}

